/* ********************************************************
****************** Google font linked here ***************
***********************************************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* ********************************************************
****************** General style here **********************
***********************************************************/
.btn-orange{
    background-color: #E76F51;
    padding:10px 24px;
    border-radius: 5px;
    font-size: 16px;
    color:#FFFFFF;
    font-weight: 500;
    transition: all .5s ease;
}
.btn-orange:hover{
    background-color: black;
    color:#FFFFFF;
}
.text-orange{
    color:#E76F51;
}
/* ********************************************************
****************** header style here **********************
***********************************************************/
.header-wrapper{
    background: #264653;
}
.honda-navbar{
    padding-top:42px;
}
.nav-link{
    color:#FFFFFF;
    font-weight: 500;
}
.nav-link:hover{
    color: #E76F51;
}
.hero-area{
    padding:69px 0 96px 0;
}
.hero-area small{
    font-size: 14px;
    color:#FFFFFF;
    font-weight: 300;
}
.hero-area h1{
    color:#FFFFFF;
    font-weight: 600;
}
.hero-area p{
    color:#E0E0E0;
    font-weight: 300;
}
/* ********************************************************
****************** Fetured Area style here ****************
***********************************************************/
.fetured-area{
    margin-top: 64px;
    margin-bottom: 165px;
}
.fetured-area h2,
.latest-news h2,
.client-area h2{
    font-size: 48px;
    font-weight: 600;
}
.fetured-area small{
    font-size: 14px;
    font-weight: 600;
    color:#E76F51;
}
.fetured-area hr{
    width: 58px;
    color:#E76F51;
    opacity: 1;
    border:1px solid #E76F51;
    border-radius: 2px;
    margin-bottom: 120px;
}
.feature-bike-container{
    width:288px;
}
.filter-feature-bike{
    filter:grayscale(100);
}
/* ********************************************************
****************** latest news style here ****************
***********************************************************/
.latest-news{
    margin-bottom: 160px;
}
.news-card{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}
.news-card-img-top{
    margin-bottom: 40px;
}
.news-card-title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.news-card-text{
    color:#6C6C6C;
    font-weight: 400;
}
.news-card-footer{
    background: transparent;
    border:none;
}
.btn-read-more{
    border: 1px solid #E76F51;
    padding:10px 24px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color:#E76F51;
    transition: all .5s ease;
}
.btn-read-more:hover{
    background-color: #E76F51;
    color:#FFFFFF;
    transition: all .5s ease;
}
/* ********************************************************
****************** client area style here ****************
***********************************************************/
.client-area{
    margin-bottom: 160px;
}
.client-card-img{
    width:150px;
    height: 150px;
    border-radius: 50%;
}
.client-card-text{
    color:#6C6C6C;
    font-weight: 400;
}
.fa-star{
    color:#E76F51;
}
.client-name{
    font-size: 14px;
    font-weight: 600;
    color:#23A6F0;
}
.client-title{
    font-size: 14px;
    font-weight: 600;
    color:#252B42;
}
